.Window {
    padding: 1.2rem 2rem;
    border-radius: 8px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 6px);
    background: transparent;
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
    margin-right: 0.4rem;
    color: #5f5f5f;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}