.sidebar {
  width: 230px;
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border-radius: 20px;
  border: 2px solid white;
  margin-top: 0rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  transition: width 0.2s;
  align-items: center;
  justify-content: start;
}
.sidebarCollapsed {
  width: 40px;
  background: rgba(255, 255, 255, 0.40);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border-radius: 20px;
  border: 2px solid white;
  margin-top: 0rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: width 0.2s;
  align-items: center;
  color: #5f5f5f;
}
.sidebar .collapseBtn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 0.2rem;
  font-weight: 200;
  text-align: right;
  width: 100%;
  padding: 0 0.5rem;
  color: #5f5f5f;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 0.2rem;
  color: #5f5f5f;
}
.title {
  font-size:18px;
  font-weight: 300;
  margin-bottom: 2rem;
}
.separator {
  width: 100%;
  height: 0.6px;
  background: #b2b2b2;
  margin-bottom: 1rem;
}
.featuresSection {
  width: 100%;
  display: flex;
  align-items: center;
}
.featuresSection p{
  color: #5f5f5f;
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-right: 0.2rem;
}
.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
  align-items: center;
  padding-top: 1rem;
}
.actionBtn {
  padding: 0.5rem 1rem;
  background: #ffffff88;
  /* background: transparent; */
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .chatBtn {
  padding: 0.5rem 1.5rem;
  background: #ffffff88;
  border-radius: 20px;
  cursor: pointer;
  width: fit-content;
  display: flex;
  color: #5f5f5f;
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.chatBtn.active {
  background: #ffffffee !important;
  color: #5f5f5f !important;
}
.chatBtn:hover {
  background: #5f5f5f;
  color: #ffffff;
  cursor: pointer;
} */
.actionBtn h3 {
  color: #5f5f5f;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}
.actionBtn p {
  color: #5f5f5f;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: left;
}
.actionBtn:hover {
  padding: 0.5rem 1rem;
  background: #ffffffd1;
  cursor: pointer;
}
.actionBtn.active {
  background: #ffffffee !important;
}

.customScrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #ffffff00;
}

.customScrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff64;
  border-radius: 0px;
}

.customScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff92;
}

.customScrollbar::-webkit-scrollbar-thumb:active {
  background-color: #ffffff92;
}

.customScrollbar::-webkit-scrollbar-corner {
  background: #ffffff64;
}